{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- INICIO ENCABEZADO -->
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-5">
                <div class="intro-excerpt">
                    <h1 class="fw-bold text-center">ADMINISTRACIÓN DE TALLERES</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- FIN ENCABEZADO -->

<br>
<div class="bg-page">
    <div class="container my-5 ">
        <div class="d-flex mx-auto align-items-end justify-content-end">
            <p><a href="{% url 'crear_taller' %}" class="btn btn-primary me-2 text-white font-bold rounded-5">CREAR TALLER <i class="fa-solid fa-wrench"></i></a></p>
        </div>
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Encargado del taller</th>
                                <th scope="col">Nombre del taller</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Comuna</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for taller in talleres %}
                                <tr>
                                    <th scope="row">{{ taller.idTaller }}</th>
                                    <td>{{ taller.encargadoTaller }}</td>
                                    <td>{{ taller.nombreTaller }}</td>
                                    <td>{{ taller.telefono }}</td>
                                    <td>{{ taller.direccion }}</td>
                                    <td>{{ taller.comuna }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'modificar_taller' taller.idTaller %}" class="btn btn-dark btn-sm rounded-5 mt-1">Modificar</a>
                                        <a href="{% url 'eliminar_taller' taller.idTaller %}" class="btn btn-dark btn-sm rounded-5 mt-1">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock contenido %}
