{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<!-- INICIO ENCABEZADO -->
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-5">
                <div class="intro-excerpt">
                    <h1 class="fw-bold text-center">CREAR TALLER</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- FIN ENCABEZADO -->
<div class="bg-page">
    <br><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data" class="p-4 shadow-lg bg-white rounded-4">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        {{ form.nombreTaller|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.descripcion|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.direccion|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.telefono|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.comuna|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.encargadoTaller|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.imagen|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg rounded-pill mt-5 d-flex text-center mx-auto">Guardar</button>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}
{% block js %}
{% endblock %}