{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

        <!-- INICIO ENCABEZADO -->
        <div class="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 mt-5">
                        <div class="intro-excerpt">
                            <h1 class="fw-bold text-center"> MAPA</h1>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
        
        <!-- FIN ENCABEZADO -->

        <!-- INICIO INFO -->
        <div class="bg-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 mt-5">
                        <div class="intro-excerpt">
                            <img src="{% static 'core/img/mapa.png' %}" alt="" class="img-border">
                        </div>
                    </div>
                </div>
                <br><br><br><br><br><br><br>
            </div>            
        </div>
        

            </div>
        </div>
    </div>

{% endblock %}