{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<!-- INICIO ENCABEZADO -->
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-5">
                <div class="intro-excerpt">
                    <h1 class="fw-bold text-center">MIS VEHÍCULOS</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- FIN ENCABEZADO -->

<br>
<div class="bg-page">
    <div class="container my-5">
        <div class="d-flex mx-auto align-items-end justify-content-end">
            <p><a href="{% url 'annadir_vehiculo' %}" class="btn btn-primary me-2 text-white font-bold rounded-5">AÑADIR VEHÍCULO <i class="fa-solid fa-car"></i></a></p>
        </div>
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Patente</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">SubModelo</th>
                                <th scope="col">Año</th>
                                <th scope="col">Tipo de Vehículo</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehiculo in vehiculos %}
                                <tr>
                                    <th scope="row">{{ vehiculo.idVehiculo }}</th>
                                    <td>{{ vehiculo.patente }}</td>
                                    <td>{{ vehiculo.idMarca }}</td>
                                    <td>{{ vehiculo.modelo }}</td>
                                    <td>{{ vehiculo.subModelo|default_if_none:"N/A" }}</td>
                                    <td>{{ vehiculo.anno }}</td>
                                    <td>{{ vehiculo.idTipoVehiculo }}</td>
                                    <td class="text-center">
                                        <a href="" class="btn btn-dark btn-sm rounded-5 mt-1">Modificar</a>
                                        <a href="" class="btn btn-dark btn-sm rounded-5 mt-1">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock contenido %}
