{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- INICIO ENCABEZADO -->
<div class="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-5">
                <div class="intro-excerpt">
                    <h1 class="fw-bold text-center">GESTIÓN DE TICKETS</h1>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<!-- FIN ENCABEZADO -->

<br>
<div class="bg-page">
    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="card-body">
                {% if tickets %}
                    <div class="accordion" id="ticketsAccordion">
                        {% for ticket in tickets %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ ticket.idTicket }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ ticket.idTicket }}" aria-expanded="true" aria-controls="collapse{{ ticket.idTicket }}">
                                        <span style="color: red;">{{ ticket.solicitante.pnombre }} {{ ticket.solicitante.ap_paterno }}</span>: {{ ticket.asunto }}
                                    </button>
                                </h2>
                                <div id="collapse{{ ticket.idTicket }}" class="accordion-collapse collapse" aria-labelledby="heading{{ ticket.idTicket }}" data-bs-parent="#ticketsAccordion">
                                    <div class="accordion-body">
                                        <p><strong>ID Ticket:</strong> {{ ticket.idTicket }}</p>
                                        <p><strong>Solicitante:</strong> {{ ticket.solicitante.pnombre }} {{ ticket.solicitante.ap_paterno }}</p>
                                        <p><strong>Estado:</strong> {{ ticket.estado }}</p>
                                        <p><strong>Asunto:</strong> {{ ticket.asunto }}</p>
                                        <div class="text-center">
                                            <a href="" class="btn btn-primary btn-sm rounded-5 mt-1">Responder Ticket</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-center fw-bold text-danger">En este momento no hay tickets...</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock contenido %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock js %}
